Repository taos-thiagoaos/promocoes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,md,html}": ["prettier --write"]
}

[BOT] Atualiza anúncio: I wanna sleep - Snow®, travesseiro ajustável com flocos de espuma com memória
  data/anuncios-2025-08-06.json
Due: none

feat: enhance Anuncio component with custom prompt modal and update share message format
  components/Anuncio.js
  lib/helpers.js
  models/AnuncioModel.js
  pages/anuncios/[date]/[slug].js
  pages/api/generate-text.js
  services/adminApi.js
Due: eslint --fix, prettier --write

chore: improve share message
  components/Anuncio.js
  models/AnuncioModel.js
Due: eslint --fix, prettier --write

chore: remove husky integration from pre-commit and package files
  .husky/pre-commit
  package-lock.json
  package.json
Due: none

feat: update shareNavitatorMessage to include website link
  models/AnuncioModel.js
Due: eslint --fix, prettier --write

chore: adjust on default ia prompt
  components/Anuncio.js
Due: eslint --fix, prettier --write

[BOT] Atualiza anúncio: Nintendo Switch 2 +Jogo Digital Mario Kart World
  data/anuncios-2025-08-01.json
Due: none

[BOT] Otimiza imagem: 1754065345467-carregador-porttil-i2go-ultra-.jpeg
  public/images/anuncios/1754065345467-carregador-porttil-i2go-ultra-.jpeg
Due: none

[BOT] Atualiza anúncio: Carregador Portátil I2GO Ultra Rápido 20000mAh
  data/anuncios-2025-08-01.json
Due: none

chore: improve ia prompt
  components/Anuncio.js
Due: eslint --fix, prettier --write

chore: copilot instructions
  .github/copilot-instructions.md
  docs/como-gerar-copilot-rules.md
Due: prettier --write

[BOT] Adiciona imagem para o anúncio: Whey Protein Concentrado Cookies Pote 900g – Contribui para o Ganho Muscular Hipertrofia – Dux Human Health
  public/images/anuncios/1754605082190-whey-protein-concentrado-cooki.jpeg
Due: none

[BOT] Adiciona anúncio: Whey Protein Concentrado Cookies Pote 900g – Contribui para o Ganho Muscular Hipertrofia – Dux Human Health
  data/anuncios-2025-08-07.json
Due: none

feat: add flash deal alert components and implement expiration logic
  .github/copilot-instructions.md
  components/Anuncio.js
  components/FlashDealAlert.js
  components/FlashDealAlertSingle.js
  data/anuncios-2025-08-01.json
  data/anuncios-2025-08-06.json
  docs/como-gerar-copilot-rules.md
  models/AnuncioModel.js
  pages/anuncios/[date]/[slug].js
  pages/index.js
Due: eslint --fix, prettier --write

[BOT] Atualiza anúncio: Whey Protein Concentrado Cookies Pote 900g – Contribui para o Ganho Muscular Hipertrofia – Dux Human Health
  data/anuncios-2025-08-07.json
Due: none

[BOT] Adiciona imagem para o anúncio: Fone de Ouvido JBL Live Beam 3
  public/images/anuncios/1754689263131-fone-de-ouvido-jbl-live-beam-3.webp
Due: none

[BOT] Adiciona anúncio: Fone de Ouvido JBL Live Beam 3
  data/anuncios-2025-08-08.json
Due: none

fix form scrape
  components/AdminForm.js
  components/Anuncio.js
  pages/api/add-promo.js
Due: eslint --fix, prettier --write

[BOT] Atualiza anúncio: Fone de Ouvido JBL Live Beam 3
  data/anuncios-2025-08-08.json
Due: none

[BOT] Adiciona imagem para o anúncio: Personal Papel Higiênico Vip Folha Dupla, 16 Unidades Branco
  public/images/anuncios/1754702642211-personal-papel-higinico-vip-fo.webp
Due: none

[BOT] Adiciona anúncio: Personal Papel Higiênico Vip Folha Dupla, 16 Unidades Branco
  data/anuncios-2025-08-09.json
Due: none
